---
pagination:
  data: shows
  alias: show
  size: 1
layout: base.njk
permalink: "shows/{{show.season_number}}/{{show.episode_number}}/"
---

{% comment %} <script>console.log('shows', {{ shows | json }})</script> {% endcomment %}
{% comment %} <script>console.log('playlists', {{ playlists | json }})</script> {% endcomment %}

<article class="Duo">
	<figure class="Duo-first">
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed?listType=playlist&list={{show.playlist.playlist_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<picture>
			<source srcset="https://res.cloudinary.com/strrr/image/upload/c_thumb,f_auto,q_auto:good,h_900,ar_3:4,e_sharpen:75/{{show.image}}" media="(min-width: 1000px)">
			<img src="https://res.cloudinary.com/strrr/image/upload/c_thumb,f_auto,q_auto:good,w_600,ar_16:10,e_sharpen:75/{{show.image}}" alt={{show.title}}>
		</picture>
	</figure>
	<div class="Duo-second">

		<ul class="videos" style="display: none">
			{% for vid in show.videos -%}
			<li>
			<button class="video-play-btn" data-index="{{forloop.index0}}">
				Video {{forloop.index0 | plus: 1}}
			</button>
				{{vid.start_time}}/{{vid.end_time}}<br/>
			</li>
		{% endfor %}
		</ul>

	<script>
		window.showData = {{show | json}};
	</script>

	<!--
	<strrr-player></strrr-player>

	<menu>
				<button id="prev-btn">Prev</button>
				<span id="video-progress"></span>
				<button id="next-btn">Next</button>
			</menu>
	-->

		<h1>{{show.title}}</h1>
		<h3>Season {{show.season_number}} &middot; Episode {{show.episode_number}}</h3>

	{% comment %} <p><a href="https://www.youtube.com/playlist?list={{show.playlist.playlist_id}}">YT</a></p> {% endcomment %}
	{% comment %} <p style="margin: 4vw 0"><a href="https://www.youtube.com/watch?v={{show.playlist.video_id}}&list={{show.playlist.playlist_id}}" target="_blank" rel="noreferrer">Play</a></p> {% endcomment %}
		<p>{{show.description}}</p>
		<p><small>{{show.credits}}</small></p>
	</div>
</article>

<p><a href="/">&larr; All episodes</a> </p>
